<div id="comments" class="gitment-container gitment-root-container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script  type="text/javascript" src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>

<script>
  const gitment = new Gitment({
  owner: 'juyod',
  repo: 'juyod.github.io',
  oauth: {
    client_id: "5f11e802be10bc917103",
    client_secret: '79d75bf41a9dcd986749303f740e03f8c7d4b8e2',
  },
  // ...
  // For more available options, check out the documentation below
})

gitment.render('comments');
</script>