<header class="notepad-post-header-simple">
  <div class="notepad-post-menu-header-simple">
    <a class="notepad-blog-logo" href="/">
      <img src="/images/{{site.logo}}" alt="Blog Logo" />
    </a>
    <div class="notepad-blog-menu">
      <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
      </div>
      <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
          <a href="#"><i class="fa fa-times"></i></a>
        </li>
        {% for link in site.links %}
        <li>{% if link.external %}
          <a href="{{ link.url }}">{{ link.title }}</a> {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a> {% endif %} </li>
        {% endfor %}
        <li><a href="/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
      </ul>
    </div>
  </div>
</header>
{% if page.layout == "home" %}
<div class="notepad-site-head-content">
  <div class="notepad-site-head-bg"></div>
  <h1 class="notepad-blog-title">
        <span class="notepad-site-head-title-bg">
            {{ site.title }}
        </span>
    </h1>
  <h2 class="notepad-blog-description">{{ site.description }}</h2>
</div>
{% elsif page.layout == "page" %}
<div class="notepad-page-title row">
  <div class="small-12 columns">
    <h1>{{ page.title }}</h1>
  </div>
</div>
{% else %}
<div class="notepad-post-title-simple row">
  <div class="small-12 columns">
    <div class="notepad-post-meta-simple">
      <h1>{{ page.layout }}{{ page.title }}</h1>
      <p>by <strong>{{ site.owner.name }}</strong> &#8212; {% assign tagsize = page.tags.size %}{% if tagsize != 0 %}on {% for tag in page.tags %}<a href="/tags/index.html#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}&nbsp;&comma;&nbsp;{% endunless %}{% endfor %}{% endif %} <strong><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time></strong></p>
    </div>
  </div>
</div>
{% endif %}